#todo_head {
  text-align: center;
  background-color: #ffcc00;
  height: 80px;
  padding: 10px;
}

#todos_list_div {
  padding-left: 170px;
  font-size: 20;
  font-family: monospace;
}

#add_todo{
  padding-left: 170px;
}

#completed_todo{
  padding-left: 170px;
  font-size: 20;
  font-family: monospace;
}

#deleted_todo{
  padding-left: 170px;
  font-size: 20;
  font-family: monospace;
}

.breathVertical {
  margin-top: 15px;

}

.breathHorizontal {
  margin-left: 50px;
  margin-right: 15px;
}

h2 {
  padding-left: 170px;

}

div.todoStatusACTIVE {
  color: blue;
}

div.todoStatusCOMPLETE {
  color: green;
  text-decoration: line-through;
}

div.todoStatusDELETED {
  color: red;
  text-decoration: line-through;
}
