.breathVertical {
    margin-top:5px;
    margin-bottom:5px;
}


.breathHorizontal {
    margin-left:5px;
    margin-right:5px;
}

div.todoStatusACTIVE {

    color : blue;
}


div.todoStatusCOMPLETE{
    color : green;
    text-decoration : line-through;
}

div.todoStatusDELETED {
    color : red;
    text-decoration : line-through;

}
